.calculator {
    width: 500px;
    background-color: #222;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(77, 219, 157, 0.5);
    margin: 40px auto;
    font-family: Arial, Helvetica, sans-serif
}
.display {
    background-color: black;
    color: aquamarine;
    font-size: 2rem;
    padding: 10px;
    border-radius: 8px;
    text-align: right;
    margin-bottom: 15px;
    min-height: 40px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button {
    padding: 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: gray;
    color: aliceblue;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
button:hover {
    background-color: #666;
}
button:active {
    background-color: #888;
}